html, body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 1em;
    padding: 0;
    background-color: #e8eddf;
}

body > h2 {
    margin-top: 2em;
}

form {
    width: 40%;
}

form button {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

form > span {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-bottom: 0.2e;
}

.book img {
    width: 100px;
    height: 100px;
}

ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul > li:first-child {
    margin-left: 0;
}

.book {
    display: flex;
    flex-direction: column;
    background-color: #cfdbd5;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

.book > * {
    padding: 0.1em;
}

.book > *:last-child {
    padding-top: 0.3em;
    align-self: flex-end;
}

li h2 {
    margin-bottom: -0.8em;
    padding: 0;
}